.App {
  display: flex;
  flex-direction: row;
}

/* Small phone */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .ContentContainer {
    width: 100vw !important;
    flex: 1 !important;
  }
  .NavBar {
    flex-direction: column !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .Content {
    margin-top: 10px !important;
  }
  .RighttBarContainer {
    display: none !important;
  }

  .BtnLow,
  .Sliders {
    display: none !important;
  }

  /* .ContentContainer{
        width: 100vw !important;
    } */
}
